.user {
  border-bottom: 1px solid rgba(204, 204, 204, 0.342);
}
.order-name {
  width: 18%;
  margin: 0 0.5em;
}
.order-action {
  /* width: 10%; */
  text-align: center;
  border-radius: 5px;
}
.order-action:hover,
.order-action:active {
  color: white;
}

/* @media (min-width: 1025px) {
  .order-action {
    width: 6%;
  }
} */
@media (min-width: 767px) {
  .order-name {
    width: 12%;
  }
  /* .order-action {
    width: 8%;
  } */
}
