.icons {
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.navbar-search input {
  border: none;
  outline: none;
  color: #59657c;
  padding: 0.2em 0.5em;
  border-radius: 10px;
}
.navbar-search input:active,
.navbar-search input:focus {
  outline: #2e90fa;
  border: 1px solid #2e90fa;
}

.footer-item:hover,
.footer-item:active {
  color: #1570ef;
}
